<h1>Users#show</h1>
<h6>I'm in app/views/users/show.html.erb</h6>

<p> This is the user profile with the object and some details. </p>
<br>
<%= @user %>
<br>
Email: <%= @user.email %>
<br>
Name: <%= @user.name %>
<br>
Confirmed on :<%= @user.confirmed_at %>
