<h2><%= current_user.email %>'s information </h2>
<br> Name =  (There's supposed to be a name in here, but im calculating <br/>whether the user is valid. and the answer to that is <%= current_user.valid? %>)
