<%= form_for @item do |f| %>
  <%= f.text_field :name, class: 'form-control', placeholder:"Your New Item"%>
  <div class=form-group>
    <%= f.submit "Save", class: 'btn btn-success'%>
  </div>
<% end %>
